<template>
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex align-items-center my-3">
        <h1 class="flex-fill">{{ tituloDaPagina }}</h1>
        <button class="btn btn-primary" @click="novoCargo()">Novo</button>
      </div>
      <div class="col-12">
        <ul class="list-group">
            <li v-for="cargo in cargos" :key="cargo.id" class="list-group-item list-group-item-action d-flex align-items-center">
              <span class="flex-fill">{{ cargo.nome }}</span>
              <button class="btn btn-primary mx-1" @click="editarCargo(cargo)">Editar</button>
              <button class="btn btn-danger mx-1" @click="excluirCargo(cargo)">Excluir</button>
            </li>
        </ul>
      </div>
    </div>
    <modal-cadastro-cargo v-if="modalCadastroCargoVisivel" :id="cargoSelecionado ? cargoSelecionado.id : null" @atualizar-lista="preencherLista()" @fechado="modalCadastroCargoVisivel = false" />
  </div>
</template>

<script>
/* eslint-disable no-undef */
import ModalCadastroCargo from './ModalCadastroCargo.vue'
export default {
  name: 'Cargos',
  components: {
    ModalCadastroCargo
  },
  data () {
    return {
      tituloDaPagina: 'Cargos',
      cargos: [],
      modalCadastroCargoVisivel: false,
      cargoSelecionado: null
    }
  },
  mounted () {
    this.preencherLista()
  },
  methods: {
    preencherLista () {
      axios.get('api/cargos')
        .then(res => {
          this.cargos = res.data
        })
    },
    novoCargo () {
      this.cargoSelecionado = null
      this.modalCadastroCargoVisivel = true
    },
    editarCargo (cargo) {
      this.cargoSelecionado = cargo
      this.modalCadastroCargoVisivel = true
    },
    excluirCargo (cargo) {
      swal.fire({
        title: 'Confirmação',
        text: 'Tem certeza que deseja excluir o cargo?',
        showDenyButton: true,
        confirmButtonText: 'Sim',
        denyButtonText: 'Não'
      }).then((result) => {
        if (result.isConfirmed) {
          axios.delete('api/cargos/' + cargo.id)
            .then(res => {
              this.preencherLista()

              swal.fire({
                title: 'Sucesso!',
                text: 'Cargo excluído com sucesso!',
                icon: 'success',
                timer: 2000,
                showConfirmButton: false
              })
            }).catch(e => {
              swal.fire({
                title: 'Ops!',
                text: 'Houve um erro ao tentar excluir o cargo, ou este está vinculado a algum Usuário.',
                icon: 'error'
              })
            })  
        }
      })
    }
  }
}
</script>
