<template>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <h1>Olá, seja bem vindo!</h1>
    <h2>Este é o nosso sistema de usuários.</h2>
  </div>
</template>

<script>
export default {
  name: 'Inicio',
  data () {
    return {

    }
  }
}
</script>

<style scoped>

</style>
