<template>
  <div class="modal fade" id="modal-cadastro-usuario" tabindex="-1" aria-labelledby="modalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalCenterTitle">{{ tituloDaPagina }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <div class="form-group mb-3">
                <label for="input-nome-usuario">Nome</label>
                <input type="text" class="form-control" :class="{ 'is-invalid': form.nome.validacao }" v-model="form.nome.valor" id="input-nome-usuario">
                <div class="invalid-feedback">{{ form.nome.validacao }}</div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group mb-3">
                <label for="input-cpf-usuario">Cpf</label>
                <input type="text" class="form-control" :class="{ 'is-invalid': form.cpf.validacao }" id="input-cpf-usuario" v-model="form.cpf.valor" v-mask="'###.###.###-##'" placeholder="___.___.___-__">
                <div class="invalid-feedback">{{ form.cpf.validacao }}</div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group mb-3">
                <label for="input-data-nascimento-usuario">Data de Nascimento</label>
                <input type="text" class="form-control" :class="{ 'is-invalid': form.dataNascimento.validacao }" id="input-data-nascimento-usuario" v-model="form.dataNascimento.valor" v-mask="'##/##/####'" placeholder="__/__/____">
                <div class="invalid-feedback">{{ form.dataNascimento.validacao }}</div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group mb-3">
                <label for="select-sexo-usuario">Sexo</label>
                <select id="select-sexo-usuario" class="form-select" :class="{ 'is-invalid': form.sexo.validacao }" v-model="form.sexo.valor">
                  <option value="M">Masculino</option>
                  <option value="F">Feminino</option>
                </select>
                <div class="invalid-feedback">{{ form.sexo.validacao }}</div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group mb-3">
                <label for="select-cargo-usuario">Cargo</label>
                <select id="select-cargo-usuario" class="form-select" :class="{ 'is-invalid': form.cargo.validacao }" v-model="form.cargo.valor">
                  <option v-for="cargo in cargos" :key="cargo.id" :value="cargo">{{ cargo.nome }}</option>
                </select>
                <div class="invalid-feedback">{{ form.cargo.validacao }}</div>
              </div>
            </div>
            <div class="col-12">
              <label for="list-perfis">Perfis</label>
              <div class="list-group mb-3">
                <label v-for="perfil in perfis" :key="perfil.id" class="list-group-item list-group-item-action">
                  <input class="form-check-input me-1" type="checkbox" :value="perfil.id" v-model="perfil.marcado">
                  {{ perfil.nome }}
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" @click="salvar()">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mask} from 'vue-the-mask'
import moment from "moment"
export default {
  name: 'ModalCadastroUsuario',
  directives: { mask },
  props: {
    id: null
  },
  data () {
    return {
      tituloDaPagina: 'Cadastro de Usuário',
      cargos: [],
      perfis: [],
      form: {
        nome: {
          valor: '',
          validacao: ''
        },
        cpf: {
          valor: '',
          validacao: ''
        },
        dataNascimento: {
          valor: null,
          validacao: ''
        },
        sexo: {
          valor: null,
          validacao: ''
        },
        cargo: {
          valor: null,
          validacao: ''
        },
        perfis: {
          valor: [],
          validacao: ''
        }
      }
    }
  },
  mounted () {
    $('#modal-cadastro-usuario').modal('show')
    $('#modal-cadastro-usuario').on('hidden.bs.modal', (e) => {
      this.$emit('fechado')
    })

    this.buscarCargos()
    this.buscarPerfis()

    if (this.id) {
      this.buscar()
    }
  },
  methods: {
    buscarCargos () {
      return axios.get('api/cargos')
        .then(res => {
          this.cargos = res.data
        })
    },
    buscarPerfis () {
      axios.get('api/perfis')
        .then(res => {
          this.perfis = res.data
        })
    },
    buscar () {
      axios.get('api/usuarios/' + this.id)
        .then(res => {
          this.form.nome.valor = res.data.nome
          this.form.cpf.valor = res.data.cpf
          this.form.dataNascimento.valor = moment(res.data.dataNascimento, "YYYY-MM-DD").format("DD/MM/YYYY")
          this.form.sexo.valor = res.data.sexo
          this.form.cargo.valor = res.data.cargo
        })
    },
    salvar () {
      this.limparValidacao()

      if (!this.validar()) {
        return
      }

      if (this.id) {
        this.atualizar()
      } else {
        this.inserir()
      }
    },
    inserir () {
      axios.post('api/usuarios', this.pegarDados())
        .then(res => {
          if (res.data) {
            swal.fire({
              title: 'Sucesso!',
              text: 'Usuário criado com sucesso!',
              icon: 'success',
              timer: 2000,
              showConfirmButton: false
            })
            $('#modal-cadastro-usuario').modal('hide')
            this.$emit('atualizar-lista')
          } else {
            swal.fire({
              title: 'Ops!',
              text: 'Já existe um usuário com este CPF.',
              icon: 'warning'
            })  
          }
        })
        .catch(e => {
          swal.fire({
            title: 'Ops!',
            text: 'Houve um erro ao tentar criar o usuário. Por favor, tente novamente mais tarde.',
            icon: 'error'
          })
        })
    },
    atualizar () {
      axios.put('api/usuarios', this.pegarDados())
        .then(res => {
          swal.fire({
            title: 'Sucesso!',
            text: 'Usuário atualizado com sucesso!',
            icon: 'success',
            timer: 2000,
            showConfirmButton: false
          })
          $('#modal-cadastro-usuario').modal('hide')
          this.$emit('atualizar-lista')
        })
        .catch(e => {
          swal.fire({
            title: 'Ops!',
            text: 'Houve um erro ao tentar atualizar o usuário. Por favor, tente novamente mais tarde.',
            icon: 'error'
          })
      })
    },
    validar () {
      let valido = true

      if (this.form.nome.valor.trim() === '') {
        valido = false
        this.form.nome.validacao = 'Informe o nome do usuário.'
      }

      if (!this.form.cpf.valor) {
        valido = false
        this.form.cpf.validacao = 'Informe o CPF do usuário.'
      }

      if (!this.form.dataNascimento.valor) {
        valido = false
        this.form.dataNascimento.validacao = 'Informe data de nascimento do usuário.'
      }

      if (!this.form.sexo.valor) {
        valido = false
        this.form.sexo.validacao = 'Informe o sexo do usuário.'
      }

      if (!this.form.cargo.valor) {
        valido = false
        this.form.cargo.validacao = 'Informe o cargo do usuário.'
      }

      return valido
    },
    limparValidacao () {
      this.form.nome.validacao = ''
      this.form.cpf.validacao = ''
      this.form.dataNascimento.validacao = ''
      this.form.sexo.validacao = ''
      this.form.cargo.validacao = ''
    },
    pegarDados () {
      return {
        id: this.id,
        nome: this.form.nome.valor,
        cpf: this.form.cpf.valor,
        dataNascimento: moment(this.form.dataNascimento.valor, "DD/MM/YYYY").format("YYYY-MM-DD"),
        sexo: this.form.sexo.valor,
        cargo: {
          id: this.form.cargo.valor.id
        } 
      }
    }
  }
}
</script>
