<template>
  <div class="modal fade" id="modal-cadastro-perfil" tabindex="-1" aria-labelledby="modalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalCenterTitle">{{ tituloDaPagina }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="input-nome-perfil">Nome</label>
                <input type="text" class="form-control" :class="{ 'is-invalid': form.nome.validacao }" v-model="form.nome.valor" id="input-nome-perfil">
                <div class="invalid-feedback">{{ form.nome.validacao }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" @click="salvar()">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable no-undef */
export default {
  name: 'ModalCadastroPerfil',
  props: {
    id: null
  },
  data () {
    return {
      tituloDaPagina: 'Cadastro de Perfil',
      form: {
        nome: {
          valor: '',
          validacao: ''
        }
      }
    }
  },
  mounted () {
    $('#modal-cadastro-perfil').modal('show')
    $('#modal-cadastro-perfil').on('hidden.bs.modal', (e) => {
      this.$emit('fechado')
    })

    if (this.id) {
      this.buscar()
    }
  },
  methods: {
    buscar () {
      axios.get('api/perfis/' + this.id)
        .then(res => {
          this.form.nome.valor = res.data.nome
        })
    },
    salvar () {
      this.limparValidacao()

      if (!this.validar()) {
        return
      }

      if (this.id) {
        this.atualizar()
      } else {
        this.inserir()
      }
    },
    inserir () {
      axios.post('api/perfis', this.pegarDados())
        .then(res => {
          swal.fire({
            title: 'Sucesso!',
            text: 'Perfil criado com sucesso!',
            icon: 'success',
            timer: 2000,
            showConfirmButton: false
          })
          $('#modal-cadastro-perfil').modal('hide')
          this.$emit('atualizar-lista')
        })
    },
    atualizar () {
      axios.put('api/perfis', this.pegarDados())
        .then(res => {
          swal.fire({
            title: 'Sucesso!',
            text: 'Perfil atualizado com sucesso!',
            icon: 'success',
            timer: 2000,
            showConfirmButton: false
          })
          $('#modal-cadastro-perfil').modal('hide')
          this.$emit('atualizar-lista')
        })
    },
    validar () {
      let valido = true

      if (this.form.nome.valor.trim() === '') {
        valido = false
        this.form.nome.validacao = 'Informe o nome do perfil.'
      }

      return valido
    },
    limparValidacao () {
      this.form.nome.validacao = ''
    },
    pegarDados () {
      return {
        id: this.id,
        nome: this.form.nome.valor
      }
    }
  }
}
</script>
