<template>
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex align-items-center my-3">
        <h1 class="flex-fill">{{ tituloDaPagina }}</h1>
        <button class="btn btn-primary" @click="novoPerfil()">Novo</button>
      </div>
      <div class="col-12">
        <ul class="list-group">
            <li v-for="perfil in perfis" :key="perfil.id" class="list-group-item list-group-item-action d-flex align-items-center">
              <span class="flex-fill">{{ perfil.nome }}</span>
              <button class="btn btn-primary mx-1" @click="editarPerfil(perfil)">Editar</button>
              <button class="btn btn-danger mx-1" @click="excluirPerfil(perfil)">Excluir</button>
            </li>
        </ul>
      </div>
    </div>
    <modal-cadastro-perfil v-if="modalCadastroPerfilVisivel" :id="perfilSelecionado ? perfilSelecionado.id : null" @atualizar-lista="preencherLista()" @fechado="modalCadastroPerfilVisivel = false" />
  </div>
</template>

<script>
/* eslint-disable no-undef */
import ModalCadastroPerfil from './ModalCadastroPerfil.vue'
export default {
  name: 'Perfis',
  components: {
    ModalCadastroPerfil
  },
  data () {
    return {
      tituloDaPagina: 'Perfis',
      perfis: [],
      modalCadastroPerfilVisivel: false,
      perfilSelecionado: null
    }
  },
  mounted () {
    this.preencherLista()
  },
  methods: {
    preencherLista () {
      axios.get('api/perfis')
        .then(res => {
          this.perfis = res.data
        })
    },
    novoPerfil () {
      this.perfilSelecionado = null
      this.modalCadastroPerfilVisivel = true
    },
    editarPerfil (perfil) {
      this.perfilSelecionado = perfil
      this.modalCadastroPerfilVisivel = true
    },
    excluirPerfil (perfil) {
      swal.fire({
        title: 'Confirmação',
        text: 'Tem certeza que deseja excluir o perfil?',
        showDenyButton: true,
        confirmButtonText: 'Sim',
        denyButtonText: 'Não'
      }).then((result) => {
        if (result.isConfirmed) {
          axios.delete('api/perfis/' + perfil.id)
            .then(res => {
              this.preencherLista()

              swal.fire({
                title: 'Sucesso!',
                text: 'Perfil excluído com sucesso!',
                icon: 'success',
                timer: 2000,
                showConfirmButton: false
              })
            }).catch(e => {
              swal.fire({
                title: 'Ops!',
                text: 'Houve um erro ao tentar excluir o perfil, ou este está vinculado a algum Usuário.',
                icon: 'error'
              })
            })  
        }
      })
    }
  }
}
</script>
