<template>
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex align-items-center my-3">
        <h1 class="flex-fill">{{ tituloDaPagina }}</h1>
        <button class="btn btn-primary" @click="novoUsuario()">Novo</button>
      </div>
      <div class="col-12">
        <ul class="list-group">
            <li v-for="usuario in usuarios" :key="usuario.id" class="list-group-item list-group-item-action d-flex align-items-center">
              <span class="flex-fill">{{ usuario.nome }}</span>
              <span class="flex-fill">{{ usuario.cargo.nome }}</span>
              <button class="btn btn-primary mx-1" @click="editarUsuario(usuario)">Editar</button>
              <button class="btn btn-danger mx-1" @click="excluirUsuario(usuario)">Excluir</button>
            </li>
        </ul>
      </div>
    </div>
    <modal-cadastro-usuario v-if="modalCadastroUsuarioVisivel" :id="usuarioSelecionado ? usuarioSelecionado.id : null" @atualizar-lista="preencherLista()" @fechado="modalCadastroUsuarioVisivel = false" />
  </div>
</template>

<script>
/* eslint-disable no-undef */
import ModalCadastroUsuario from './ModalCadastroUsuario.vue'
export default {
  name: 'Usuarios',
  components: {
    ModalCadastroUsuario
  },
  data () {
    return {
      tituloDaPagina: 'Usuarios',
      usuarios: [],
      modalCadastroUsuarioVisivel: false,
      usuarioSelecionado: null
    }
  },
  mounted () {
    this.preencherLista()
  },
  methods: {
    preencherLista () {
      axios.get('api/usuarios')
        .then(res => {
          this.usuarios = res.data
        })
    },
    novoUsuario () {
      this.usuarioSelecionado = null
      this.modalCadastroUsuarioVisivel = true
    },
    editarUsuario (usuario) {
      this.usuarioSelecionado = usuario
      this.modalCadastroUsuarioVisivel = true
    },
    excluirUsuario (usuario) {
      swal.fire({
        title: 'Confirmação',
        text: 'Tem certeza que deseja excluir o usuário?',
        showDenyButton: true,
        confirmButtonText: 'Sim',
        denyButtonText: 'Não'
      }).then((result) => {
        if (result.isConfirmed) {
          axios.delete('api/usuarios/' + usuario.id)
            .then(res => {
              this.preencherLista()

              swal.fire({
                title: 'Sucesso!',
                text: 'Usuário excluído com sucesso!',
                icon: 'success',
                timer: 2000,
                showConfirmButton: false
              })
            }).catch(e => {
              swal.fire({
                title: 'Ops!',
                text: 'Houve um erro ao tentar excluir o usuário.',
                icon: 'error'
              })
            })  
        }
      })
    }
  }
}
</script>
