<template>
  <div id="app">
    <navbar />
    <router-view id="main-router-view" />
  </div>
</template>

<script>
import Navbar from './components/Navbar.vue'
export default {
  components: { Navbar },
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
#main-router-view {
  margin-top: 60px;
  height: calc(100vh - 60px);
}
.container {
  max-width: 900px !important;
}
</style>
